In [1]:
# range

In [2]:
# iterate over a string

for one_item in 'abcd':
    print(one_item)

a
b
c
d

In [3]:
for one_item in [10, 20, 30, 40]:
    print(one_item)

10
20
30
40

In [4]:
for one_item in 3:
    print('Hooray!')

TypeError: 'int' object is not iterable

In [5]:
# range

for one_item in range(3):
    print('Hooray!')

Hooray!
Hooray!
Hooray!

In [6]:
# what do we get from range in each iteration?

for one_item in range(3):
    print(f'{one_item}: Hooray!')

0: Hooray!
1: Hooray!
2: Hooray!

In [7]:
# when we use range(n), we get each of the numbers from 0 until (and not including) n
# which means, a total of n numbers

In [9]:
s = 'abcd'  # len(s) is 4, so s has indexes 0, 1, 2, and 3

for index in range(len(s)):   # range(4), which means we'll get indexes 0, 1, 2, and 3
    print(f'{s[index]}')

a
b
c
d

In [10]:
# call range with 2 elements -- starting point and ending + 1

for one_number in range(10, 15):  # from 10 up to and not including 15
    print(one_number)

10
11
12
13
14

In [11]:
for one_number in range(308, 322):
    print(one_number)

308
309
310
311
312
313
314
315
316
317
318
319
320
321

In [12]:
# range with 3 arguments is: start, stop+1, step_size

for one_number in range(20, 30, 2):   # from 20 until (not including) 30, step size of 2
    print(one_number)

20
22
24
26
28

In [13]:
# we can count backwards!

for one_number in range(30, 20, -1):  # from 30 until (not including) 20, step size of -1
    print(one_number)

30
29
28
27
26
25
24
23
22
21

In [14]:
for one_number in range(30, 20, -3):  # from 30 until (not including) 20, step size of -3
    print(one_number)

30
27
24
21

In [15]:
# negative step size? make sure that the first argument is bigger than the second one

for one_number in range(20, 30, -3):
    print(one_number)

In [16]:
r = range(100, 100_000)

In [17]:
r[54]

154

In [18]:
r[987]

1087

In [19]:
print(r)

range(100, 100000)